@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

:root {
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --magenta: hsl(303, 10%, 53%);
  --light-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --h1--size: clamp(2.5em, 4.2vw, 3.5em);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "League Spartan", Arial, Helvetica, sans-serif;
  background-image: url(./images/bg-pattern-top-mobile.svg),
    url(./images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  min-height: 100vh;
  background-color: var(--white);
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: center;
  max-width: 1500px;
  margin: auto;
}

@media screen and (min-width: 1000px) {
  body {
    background-image: url(./images/bg-pattern-top-desktop.svg),
      url(./images/bg-pattern-bottom-desktop.svg);
    padding: 0 100px;
    display: flex;
  }
}

/*------------------SECTION1----------------------------*/

#section1 {
  padding: 0px 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 2em;
  column-gap: 5em;
}

#section1 .container-content {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

#section1 .container-content h1 {
  font-size: var(--h1--size);
  color: var(--dark-magenta);
  font-weight: 700;
  text-align: center;
  line-height: 40px;
}

#section1 .container-content p {
  color: var(--magenta);
  text-align: center;
  line-height: 20px;
  font-weight: 500;
}

#section1 .container-rate {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}

#section1 .box-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-magenta);
  gap: 0.8em;
  padding: 15px;
  border-radius: 10px;
}

#section1 .box-rate .img-star {
  display: flex;
  justify-content: center;
  gap: 0.6em;
}

#section1 .box-rate p {
  font-weight: 700;
  color: var(--dark-magenta);
}

@media screen and (min-width: 1000px) {
  #section1 {
    grid-template-columns: repeat(2, 1fr);
  }

  #section1 .container-rate .box-rate {
    flex-direction: row;
    justify-content: flex-start;
    gap: 2em;
    padding: 20px 30px;
    width: 85%;
  }

  #section1 .container-rate :nth-child(2).box-rate {
    margin-left: 40px;
  }
  #section1 .container-rate :nth-child(3).box-rate {
    margin-left: 80px;
  }

  #section1 .container-content p,
  #section1 .container-content h1 {
    text-align: left;
  }
}

/*------------------SECTION2----------------------------*/

#section2 {
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section2 .container-review {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 1em;
  column-gap: 2em;
}

#section2 .container-review .box-review {
  background-color: var(--dark-magenta);
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  gap: 1.5em;
}

#section2 .container-review .box-review .box-review-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2em;
}

#section2 .container-review .box-review .box-review-header img {
  width: 40px;
  border-radius: 50%;
}
#section2 .container-review .box-review .box-review-header .name-profil {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  color: var(--white);
  font-weight: 500;
}

#section2 .container-review .box-review .box-review-header .name-profil p span {
  color: var(--soft-pink) !important;
  font-weight: 400 !important;
}

#section2 .container-review .box-review .box-review-content p {
  color: var(--white);
  line-height: 20px;
}

@media screen and (min-width: 1000px) {
  #section2 .container-review {
    grid-template-columns: repeat(3, 1fr);
  }
  #section2 .container-review .box-review {
    height: max-content;
  }

  #section2 .container-review > :nth-child(2) {
    margin-top: 20px;
  }

  #section2 .container-review > :nth-child(3) {
    margin-top: 40px;
  }
}
